<a href="https://colab.research.google.com/github/Srikant2024/pyhton-/blob/main/assignment_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **All assignments**
# name-srikant barik
# *sic-22bcsf40*

**assignment1**

In [ ]:
#wap to calculate area of square using python
import math
side=float(input("enter the length of the side of the square"))
Area=pow(side,2)
print("area of square is:")
print(Area)

enter the length of the side of the square4
area of square is:
16.0

In [ ]:
# wap to calculate the circumference of a circle
d=float(input("enter the diameter:"))
r=d/2
c=2*r*3.14
print("circumference =")
print(c)

enter the diameter:4
circumference =
12.56

In [ ]:
# wap to find the oppsite face of the dice
a=int(input("enter the no on dice"))
b=7-a
print("oppsite face of the dice is:")
print(b)

enter the no on dice4
oppsite face of the dice is:
3

In [ ]:
#wap to find gcd of two numbers using python
a=int(input("enter the first no:"))
b=int(input("enter the second no:"))
r1=a
r2=b
while r2>0:
    r=r1%r2
    r1=r2
    r2=r
gcd=r1
print("gcd of two numbers is:")
print(gcd)

enter the first no:48
enter the second no:60
gcd of two numbers is:
12

In [ ]:
# wap to  find distance  b/w to co-ordinates
import math
x1=float(input("enter the x co-ordinate of 1st point:"))
y1=float(input("enter the y co-ordinate of 1st point:"))
x2=float(input("enter the x co-ordinate of 2nd point:"))
y2=float(input("enter the x co-ordinate of 2nd point:"))
distance=math.sqrt((pow((x2-x1),2))+(pow((y2-y1),2)))
print("distance is:")
print(distance)

enter the x co-ordinate of 1st point:8
enter the y co-ordinate of 1st point:8
enter the x co-ordinate of 2nd point:4
enter the x co-ordinate of 2nd point:4
distance is:
5.656854249492381

**assignment 2**

In [ ]:
#wap to compute simple interest
p=float(input("enter the principal amount"))  #p= principal amount
r=float(input("enter the rate "))  #r=rate of interest
t=float(input("enter the time"))  #t= time
si=(p*t*r)/100
print("sample interest is:",si)

enter the principal amount1000
enter the rate 3
enter the time2
sample interest is: 60.0

In [ ]:
#get the name and birth year from the user and print it
name=(input(" enter your name"))
birth_year=int(input("enter your birth_year"))
current_year=2023
age=current_year-birth_year   #calculate the age
print("hello",name,"you are",age,"years old")

In [ ]:
# wap to read a positive number from the user and then display the sum of all no's from 1 to n
#use sum formula:n(n+1)/2
n=int(input("enter a positive number"))
sum=(n*(n+1))/2
print("the sum of first",n,"positive integers",sum)

enter a positive number10
the sum of first 10 positive integers 55.0

In [ ]:
#get the radious of a circle and calculate the area and volume of a sphere display the output upto 2 decimals places
r=float(input("enter the radius"))
area=3.14*r*r
volume=4/3*3.14*r*r*r
print("area of circle is:", round(area,2))   # round function is used for round upto 2 decimal
print("volume of sephere is:",round(volume,2))

enter the radius4
area of circle is: 50.24
volume of sephere is: 267.95

**assignment3**

In [ ]:
# find the no of alphabet in a string
str1=(input("enter a string:"))
alphabet_count=0
for char in str1:
    if char.isalpha():
        alphabet_count+=1    # additon assignment operatpr
print(" number of alphabet:",alphabet_count)

enter a string:ms dhoni
 number of alphabet: 7

In [ ]:
# input two string and print maximum length string
str1=input("enter  the first string:")
str2=input("enter the seccend string:")
length1=len(str1)
length2=len(str2)
if (length1 > length2 ):
    print(str1)
elif(length2 > length1):
    print(str2)
else:
    print(str1)      # if str1 and str2 have same length then print one by one
    print(str2)

enter  the first string: school
enter the seccend string:college
 school
college

In [ ]:
#find  leap year
year=int(input(" enter a year:"))
if  ( year % 4 == 0 and year %   100 != 0):
    print( "  it is a leap year:",year)
elif( year %400==0 ):
    print(" it is a leap year:",year)
else:
    print("it is not a leap year:",year)

 enter a year:2012
  it is a leap year: 2012

In [ ]:
# calculate the no of letter and digit of a string
letter_count=0
digit_count=0
sentence=input("enter a sentence:")
for char in sentence:
    if char.isalpha():
      letter_count +=1       #addition assignment operator
    elif char.isdigit():
       digit_count +=1        #addition assignment operator
print(f"letters  {letter_count} digits   {digit_count}")

enter a sentence: virat 18
letters  5 digits   2

In [ ]:
# input a string  and find out no of letters and digits
letter_count=0
digit_count=0


sentence=input("enter a sentence:")
for char in sentence:
    if char.isalpha():
      letter_count +=1   # addition assignment operator
    elif char.isdigit():
       digit_count +=1   # addition assignment operator
print(f"letters  {letter_count} digits  {digit_count}")

enter a sentence:dfgh890
letters  4 digits  3

In [ ]:
# find no of vowel  ina given string
string=input("enter a string")
vowel=0
for i in string:
  if( i=='a' or i=='e' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
    vowel=vowel+1
print("number of vowels are :", vowel)                    #lab question

enter a stringapple
number of vowels are : 2

**assignment4**

In [ ]:
# wap to check a givven number is a perfect square or not
import math
n=int(input("enter a number:"))
n2=int(math.sqrt(n))
if (n==n2**2):
        print(n,"is a perfect square number")
else:
        print(n," is not a perfect square number")

enter a number:25
25 is a perfect square number

In [ ]:
#wap to find no of consonant in a string
str=input(" enter a sentence:")
count=0
consonant="bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
for char in str:
    if (char in consonant):
        count+=1
print(" no of consonant in string is:",count )

 enter a sentence:jhjghb
 no of consonant in string is: 6

In [ ]:
# wap to check whether a user input string is palindrome or not
str1=input("enter a string:")
len=len(str1)
str2=str1[len::-1]   # range function is used to  get the reverse of the string
if(str1==str2):
    print(str1,": the string is a palindrome")
else:
  print(str1,": the string is not a palindrome")

In [ ]:
# convert a string into lower case and upper case
str=input("Enter a string:")
str1=str2=""
for char in str:
    if ('a'<=char<='z'):
        str1=str1+chr(ord(char)-32)
    else:
        str1=str1+char
for char in str:
    if ('A'<=char<='Z'):
        str2=str2+chr(ord(char)+32)
    else:
        str2=str2+char
print(f"The string in Uppercase is: {str1}")
print(f"The string in Lowercase is: {str2}")

Enter a string:ghutv
The string in Uppercase is: GHUTV
The string in Lowercase is: ghutv

In [ ]:
# find the perfect  square no's with in a range
start=int(input("Enter the starting Number:"))
end=int(input("Enter the Ending Number: "))
for i in range(start,end+1):                   #lab question
 print(f"Square of {i} is:{i**2}")

Enter the starting Number:4
Enter the Ending Number: 8
Square of 4 is:16
Square of 5 is:25
Square of 6 is:36
Square of 7 is:49
Square of 8 is:64

* **assignment5**

In [ ]:
# wap to check user input number is in a list or not
lst=eval(input("enter a list"))
num=int(input("enter a number"))
if num in lst:                        # use of in function5
    print("number is present in list",num)
else:
    print("number is not present in the list",num)

enter a list[1  , 3 , 5]
enter a number6
number is not present in the list 6

In [ ]:
# find if a substring is present in a string or not (dont use in function)
str=input("enter a string:")
sub_str=input("enter a sub string:")
index=str.find(sub_str)
if(index!=-1):
    print(" substring exists in the string")
else:
    print(" substring is not present in the string")

enter a string:bottle
enter a sub string:le
 substring exists in the string

In [ ]:
# take  a list and print the list after removing duplicate
input_list=eval(input("enter a list:"))
output_list=[]
dupli=[]
for i in input_list:
    if i not in dupli:
        output_list.append(i)
        dupli.append(i)
print("the out put list is",output_list)

enter a list:[1,2,3,4,5,5,6,6]
the out put list is [1, 2, 3, 4, 5, 6]

In [ ]:
# given a list A and number n ,find the nth largest  number
mylist=eval(input("enter a list"))
n=int(input(" enter the value of n"))
if n<=0 or n>len(mylist):
    print(" please  enter valid number")
else:
    mylist.sort(reverse=True)
    nth_large=mylist[n-1]
print(f"the {n}th is the largest number is :", nth_large )

enter a list[1,2,99,6,7]
 enter the value of n2
the 2th is the largest number is : 7

**assignment 6**

In [ ]:
#Count Heads and legs
heads=int(input(" enter total no of heads:"))
legs=int(input("enter total no of legs:"))
for x in range (0,heads+1):
  for y in range(0,legs+1):
    if (x+y==heads):
      if(2*x+4*y==legs):
        print(f"the number of rabbits are:{y} \n the no of chickens are:{x}")

 enter total no of heads:35
enter total no of legs:94
the number of rabbits are:12
 the no of chickens are:23

In [ ]:
# take two list of numbers and generate  a list of tuples that are  combo of the  such that two numbers  in the pair  are not equal
list1=eval(input("enter a list"))
list2=eval(input("enter another list list"))
list3=[(i,j) for i in list1 for j in list2 if i!=j]
print(" the combo tupple i s :",list3)

enter a list[1,2,3]
enter another list list[3,4,5]
 the combo tupple i s : [(1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 4), (3, 5)]

In [ ]:
# take a sentence and output the frequency of words  in the sentence
str1=input(" enter your sentence:")
words=str1.split()
wfreq=[words.count(w) for w in words ]
print( " frequency of words is:",dict(zip(words,wfreq)))

 enter your sentence: dog and cat are pet pet animals
 frequency of words is: {'dog': 1, 'and': 1, 'cat': 1, 'are': 1, 'pet': 2, 'animals': 1}

**assignment7**

In [ ]:
# given a list  of products,print ot the name of all the products witha price higher than 10  hint:use dictionary
products=[{'name':'orange','price':20},{'name':'apple','price':8},{'name':'banana','price':10},{'name':'kiwi','price':30}]
for f  in products:
   if f['price']>10:
      print(" price above than 10 proproducts",f)

 price above than 10 proproducts {'name': 'orange', 'price': 20}
 price above than 10 proproducts {'name': 'kiwi', 'price': 30}

In [ ]:
#take two list of numbers of products quantities and prices and calculate total use list and aggregation input
product_quantities=[13,5,6,10,11]
prices=[1.2,6.5,1.0,4.8,5.0]
total_cost=sum(qty*price for qty,price in zip(product_quantities,prices))
print("total cost is",total_cost)

total cost is 157.1

In [ ]:
#take two list of numbers of products quantities and prices and calculate total use list and aggregation input
product_quantities=eval(input("enter a list:"))
prices=eval(input("enter another list:"))
total_cost=sum(qty*price for qty,price in zip(product_quantities,prices))
print("total cost is",total_cost)

In [ ]:
#given a list of tickets for canditates  find out who is the winner
vote=eval(input("enter your list"))
vote_count={}
for candidate in vote:
    if candidate in vote_count:
        vote_count[candidate]+=1
    else:
        vote_count[candidate]=1
winner=max(vote_count,key=vote_count.get)
print(" thw winner is :",winner)

enter your list["a","b","c","a"]
 thw winner is : a

**assignment 8**

In [ ]:
# take an input character and  generate matrix find row index and column index  if the character is present
#check whether the character is present in the  table
table=[list("abcd"),list("efgh"),list("ijkl")]
print("the table is:\n ",table)
target=input("enter target character: ")
flag=0
for rowindex in range(0,len(table)):
    for columnindex in range(0,len(table[rowindex])):
        if (table[rowindex][columnindex]==target):
            print("Row index  is:",(rowindex+1),"Column  index is:",(columnindex+1))
            flag=1
if flag==0:
    print("Target character not found")

the table is:
  [['a', 'b', 'c', 'd'], ['e', 'f', 'g', 'h'], ['i', 'j', 'k', 'l']]
enter target character: e
Row index  is: 2 Column  index is: 1

In [ ]:
# list of items with their weights and values
items=[(60,10),(100,20),(120,30)]
capacity=50
total_value=0
for value,weight in items:
  if capacity ==0:
     break
  amount=min(weight,capacity)
  total_value+=amount*(value/weight)
  capacity -=amount
max_value=total_value
print("max value is",max_value)

max value is 240.0

In [ ]:
#  take a sentence and output a dictionary with words as the key and number of characters in the word as value
sentence=(input("enter a sentence"))
words=sentence.split()
word_length_dict={}
for word in words:
    word_length_dict[word]=len(word)
print(word_length_dict)

enter a sentencejay shree ram
{'jay': 3, 'shree': 5, 'ram': 3}

**assignement 9**

In [ ]:
# create an add function that is agnostic to number of inputs
def My_custom_Add(*numbers):
    sum=0
    for num in numbers:
        sum=sum+num
    return sum
num=input("Enter the numbers you want to add:")
num1=[]
for i in num.split():
    num2=float(i)
    num1.append(num2)
result=My_custom_Add(*num1)
print(f"The sum of numbers is:{result}")

Enter the numbers you want to add:1 2 3 4  5 6 7
The sum of numbers is:28.0

In [ ]:
# run a program  to demonstrate fibonacci through recursion
def fibo_rec(n):
    if n<=0:
      return 0
    elif n==1:
       return 1
    else:
       return fibo_rec(n-1)+fibo_rec(n-2)
n=int(input(" enter the numbers:"))
for i in range(n):
   print(" fibonacci series is",fibo_rec(i))

 enter the numbers:4
 fibonacci series is 0
 fibonacci series is 1
 fibonacci series is 1
 fibonacci series is 2

In [ ]:
# wap to implement binary search using recursion
def binaray_search(a,check,lower,upper):
    if lower<=upper:
        mid=(lower+upper)//2
        if a[mid]==check:
            return mid
        elif a[mid]<check:
            return binaray_search(a,check,mid+1,upper)
        else:
            return binaray_search(a,check,lower,mid-1)
    else:
        return -1
list=eval(input("Enter a set of numbers:"))
list2=sorted(list)      #list.sort() will sort the original list,while we have to store the list  in sorted
print("The sorted list is:")
print(list2)
check=int(input("Enter the element you want to search:"))
found=binaray_search(list2,check,0,len(list2))
if found==-1:
    print("Element is not present in the list")
else:
    print(f"{check} is present at index number:{found}")

Enter a set of numbers:[1,2,3,4,5,6]
The sorted list is:
[1, 2, 3, 4, 5, 6]
Enter the element you want to search:5
5 is present at index number:4

**assignment 10**

In [ ]:
# given attributes(x,y,r) for two circles identify if the circles "intersect","touch" or "not intersect"
import math
circle_relationship= (lambda x1,y1,r1,x2,y2,r2:"intersect" if((x1-x2)**2+(y1-y2)**2)**0.5<=r1+r2 else "touch" if((x1-x2)**2+(y1-y2)**2)**0.5==r1+r2 else "do not intersect")
x1,y1,r1=map(float,input("enterattributes(x y r ) for the first circle").split())
x2,y2,r2=map(float,input("enterattributes(x y r ) for the second circle").split())
result=circle_relationship(x1,y1,r1,x2,y2,r2)
print("The circles", result  +".")

enterattributes(x y r ) for the first circle0 0 3
enterattributes(x y r ) for the second circle5 0 2
The circles intersect.

In [ ]:
# take a string as input and do the following without using string functions
#i. remove duplicates
#ii.remove special characters
#iii.change the case of character
remove_duplicates = lambda input_str: ''.join([char for i, char in enumerate(input_str) if char not in input_str[:i]])
remove_special_characters = lambda input_str: ''.join([char for char in input_str if char.isalnum() or char.isspace()])
change_case = lambda input_str: ''.join([char.upper() if char.islower() else char.lower() if char.isupper() else char for char in input_str])
input_string = input("Enter a string: ")
input_string = remove_duplicates(input_string)           # Remove duplicates
input_string = remove_special_characters(input_string)   # Remove special characters
input_string = change_case(input_string)                # Change case
print("Modified string:", input_string)

Enter a string:  he is a $%^& boYY
Modified string:  HEISABOy

In [ ]:
#take a 2x2 square matrix as input and calculate the determinant
det=( lambda matrix: matrix[0][0]*matrix[1][1] - matrix[0][1]*matrix[1][0])
matrix = [[1, 2], [3, 4]]
determinant = det(matrix)
print(  "the value of the determinant is :",determinant)

the value of the determinant is : -2

**assignment11**
:use of list comprehension

In [ ]:
# find the numbers  from 1-1000 that  have a 6 in them
num_with_six=[num for num in range(1,1001) if '6' in str(num)]
print("result is ")
print(",".join(map(str,num_with_six)))

result is
6,16,26,36,46,56,60,61,62,63,64,65,66,67,68,69,76,86,96,106,116,126,136,146,156,160,161,162,163,164,165,166,167,168,169,176,186,196,206,216,226,236,246,256,260,261,262,263,264,265,266,267,268,269,276,286,296,306,316,326,336,346,356,360,361,362,363,364,365,366,367,368,369,376,386,396,406,416,426,436,446,456,460,461,462,463,464,465,466,467,468,469,476,486,496,506,516,526,536,546,556,560,561,562,563,564,565,566,567,568,569,576,586,596,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,706,716,726,736,746,756,760,761,762,763,764,765,766,767,768,769,776,786,796,806,816,826,836,846,856,860,861,862,863,864,865,866,867,868,869,876,886,896,906,916,926,936,946,956,960,961,962,963,964,965,966,967,968,969,976,986,996

In [ ]:
# find all the numbers from 1-1000 that are divisble by any single digit besides 1(2-9)
num_div=[ num for num in range(1,1001) if[j for j in range(2,10) if num%j==0 ] ]
print("result is",num_div)

In [ ]:
#program to find higest single digit any of no.s id divisible by
quantity=[i for i in range(1,1001)]
numbers={i:max([j for j in range(1,10) if i%j == 0]) for i in quantity}
print(numbers)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 5, 11: 1, 12: 6, 13: 1, 14: 7, 15: 5, 16: 8, 17: 1, 18: 9, 19: 1, 20: 5, 21: 7, 22: 2, 23: 1, 24: 8, 25: 5, 26: 2, 27: 9, 28: 7, 29: 1, 30: 6, 31: 1, 32: 8, 33: 3, 34: 2, 35: 7, 36: 9, 37: 1, 38: 2, 39: 3, 40: 8, 41: 1, 42: 7, 43: 1, 44: 4, 45: 9, 46: 2, 47: 1, 48: 8, 49: 7, 50: 5, 51: 3, 52: 4, 53: 1, 54: 9, 55: 5, 56: 8, 57: 3, 58: 2, 59: 1, 60: 6, 61: 1, 62: 2, 63: 9, 64: 8, 65: 5, 66: 6, 67: 1, 68: 4, 69: 3, 70: 7, 71: 1, 72: 9, 73: 1, 74: 2, 75: 5, 76: 4, 77: 7, 78: 6, 79: 1, 80: 8, 81: 9, 82: 2, 83: 1, 84: 7, 85: 5, 86: 2, 87: 3, 88: 8, 89: 1, 90: 9, 91: 7, 92: 4, 93: 3, 94: 2, 95: 5, 96: 8, 97: 1, 98: 7, 99: 9, 100: 5, 101: 1, 102: 6, 103: 1, 104: 8, 105: 7, 106: 2, 107: 1, 108: 9, 109: 1, 110: 5, 111: 3, 112: 8, 113: 1, 114: 6, 115: 5, 116: 4, 117: 9, 118: 2, 119: 7, 120: 8, 121: 1, 122: 2, 123: 3, 124: 4, 125: 5, 126: 9, 127: 1, 128: 8, 129: 3, 130: 5, 131: 1, 132: 6, 133: 7, 134: 2, 135: 9, 136: 8, 137: 1, 138: 6, 139: 1, 140: 7, 141: 3, 142: 2, 143: 1, 144: 9, 145: 5, 146: 2, 147: 7, 148: 4, 149: 1, 150: 6, 151: 1, 152: 8, 153: 9, 154: 7, 155: 5, 156: 6, 157: 1, 158: 2, 159: 3, 160: 8, 161: 7, 162: 9, 163: 1, 164: 4, 165: 5, 166: 2, 167: 1, 168: 8, 169: 1, 170: 5, 171: 9, 172: 4, 173: 1, 174: 6, 175: 7, 176: 8, 177: 3, 178: 2, 179: 1, 180: 9, 181: 1, 182: 7, 183: 3, 184: 8, 185: 5, 186: 6, 187: 1, 188: 4, 189: 9, 190: 5, 191: 1, 192: 8, 193: 1, 194: 2, 195: 5, 196: 7, 197: 1, 198: 9, 199: 1, 200: 8, 201: 3, 202: 2, 203: 7, 204: 6, 205: 5, 206: 2, 207: 9, 208: 8, 209: 1, 210: 7, 211: 1, 212: 4, 213: 3, 214: 2, 215: 5, 216: 9, 217: 7, 218: 2, 219: 3, 220: 5, 221: 1, 222: 6, 223: 1, 224: 8, 225: 9, 226: 2, 227: 1, 228: 6, 229: 1, 230: 5, 231: 7, 232: 8, 233: 1, 234: 9, 235: 5, 236: 4, 237: 3, 238: 7, 239: 1, 240: 8, 241: 1, 242: 2, 243: 9, 244: 4, 245: 7, 246: 6, 247: 1, 248: 8, 249: 3, 250: 5, 251: 1, 252: 9, 253: 1, 254: 2, 255: 5, 256: 8, 257: 1, 258: 6, 259: 7, 260: 5, 261: 9, 262: 2, 263: 1, 264: 8, 265: 5, 266: 7, 267: 3, 268: 4, 269: 1, 270: 9, 271: 1, 272: 8, 273: 7, 274: 2, 275: 5, 276: 6, 277: 1, 278: 2, 279: 9, 280: 8, 281: 1, 282: 6, 283: 1, 284: 4, 285: 5, 286: 2, 287: 7, 288: 9, 289: 1, 290: 5, 291: 3, 292: 4, 293: 1, 294: 7, 295: 5, 296: 8, 297: 9, 298: 2, 299: 1, 300: 6, 301: 7, 302: 2, 303: 3, 304: 8, 305: 5, 306: 9, 307: 1, 308: 7, 309: 3, 310: 5, 311: 1, 312: 8, 313: 1, 314: 2, 315: 9, 316: 4, 317: 1, 318: 6, 319: 1, 320: 8, 321: 3, 322: 7, 323: 1, 324: 9, 325: 5, 326: 2, 327: 3, 328: 8, 329: 7, 330: 6, 331: 1, 332: 4, 333: 9, 334: 2, 335: 5, 336: 8, 337: 1, 338: 2, 339: 3, 340: 5, 341: 1, 342: 9, 343: 7, 344: 8, 345: 5, 346: 2, 347: 1, 348: 6, 349: 1, 350: 7, 351: 9, 352: 8, 353: 1, 354: 6, 355: 5, 356: 4, 357: 7, 358: 2, 359: 1, 360: 9, 361: 1, 362: 2, 363: 3, 364: 7, 365: 5, 366: 6, 367: 1, 368: 8, 369: 9, 370: 5, 371: 7, 372: 6, 373: 1, 374: 2, 375: 5, 376: 8, 377: 1, 378: 9, 379: 1, 380: 5, 381: 3, 382: 2, 383: 1, 384: 8, 385: 7, 386: 2, 387: 9, 388: 4, 389: 1, 390: 6, 391: 1, 392: 8, 393: 3, 394: 2, 395: 5, 396: 9, 397: 1, 398: 2, 399: 7, 400: 8, 401: 1, 402: 6, 403: 1, 404: 4, 405: 9, 406: 7, 407: 1, 408: 8, 409: 1, 410: 5, 411: 3, 412: 4, 413: 7, 414: 9, 415: 5, 416: 8, 417: 3, 418: 2, 419: 1, 420: 7, 421: 1, 422: 2, 423: 9, 424: 8, 425: 5, 426: 6, 427: 7, 428: 4, 429: 3, 430: 5, 431: 1, 432: 9, 433: 1, 434: 7, 435: 5, 436: 4, 437: 1, 438: 6, 439: 1, 440: 8, 441: 9, 442: 2, 443: 1, 444: 6, 445: 5, 446: 2, 447: 3, 448: 8, 449: 1, 450: 9, 451: 1, 452: 4, 453: 3, 454: 2, 455: 7, 456: 8, 457: 1, 458: 2, 459: 9, 460: 5, 461: 1, 462: 7, 463: 1, 464: 8, 465: 5, 466: 2, 467: 1, 468: 9, 469: 7, 470: 5, 471: 3, 472: 8, 473: 1, 474: 6, 475: 5, 476: 7, 477: 9, 478: 2, 479: 1, 480: 8, 481: 1, 482: 2, 483: 7, 484: 4, 485: 5, 486: 9, 487: 1, 488: 8, 489: 3, 490: 7, 491: 1, 492: 6, 493: 1, 494: 2, 495: 9, 496: 8, 497: 7, 498: 6, 499: 1, 500: 5, 501: 3, 502: 2, 503: 1, 504: 9, 505: 5, 506: 2, 507: 3, 508: 4, 509: 1, 510: 6, 511: 7, 512: 8, 513: 9, 514: 2, 515: 5, 516: 6, 517: 1, 518: 7, 519: 3, 520: 8, 521: 1, 522: 9, 523: 1, 524: 4, 525: 7, 526: 2, 527: 1, 528: 8, 529: 1, 530: 5, 531: 9, 532: 7, 533: 1, 534: 6, 535: 5, 536: 8, 537: 3, 538: 2, 539: 7, 540: 9, 541: 1, 542: 2, 543: 3, 544: 8, 545: 5, 546: 7, 547: 1, 548: 4, 549: 9, 550: 5, 551: 1, 552: 8, 553: 7, 554: 2, 555: 5, 556: 4, 557: 1, 558: 9, 559: 1, 560: 8, 561: 3, 562: 2, 563: 1, 564: 6, 565: 5, 566: 2, 567: 9, 568: 8, 569: 1, 570: 6, 571: 1, 572: 4, 573: 3, 574: 7, 575: 5, 576: 9, 577: 1, 578: 2, 579: 3, 580: 5, 581: 7, 582: 6, 583: 1, 584: 8, 585: 9, 586: 2, 587: 1, 588: 7, 589: 1, 590: 5, 591: 3, 592: 8, 593: 1, 594: 9, 595: 7, 596: 4, 597: 3, 598: 2, 599: 1, 600: 8, 601: 1, 602: 7, 603: 9, 604: 4, 605: 5, 606: 6, 607: 1, 608: 8, 609: 7, 610: 5, 611: 1, 612: 9, 613: 1, 614: 2, 615: 5, 616: 8, 617: 1, 618: 6, 619: 1, 620: 5, 621: 9, 622: 2, 623: 7, 624: 8, 625: 5, 626: 2, 627: 3, 628: 4, 629: 1, 630: 9, 631: 1, 632: 8, 633: 3, 634: 2, 635: 5, 636: 6, 637: 7, 638: 2, 639: 9, 640: 8, 641: 1, 642: 6, 643: 1, 644: 7, 645: 5, 646: 2, 647: 1, 648: 9, 649: 1, 650: 5, 651: 7, 652: 4, 653: 1, 654: 6, 655: 5, 656: 8, 657: 9, 658: 7, 659: 1, 660: 6, 661: 1, 662: 2, 663: 3, 664: 8, 665: 7, 666: 9, 667: 1, 668: 4, 669: 3, 670: 5, 671: 1, 672: 8, 673: 1, 674: 2, 675: 9, 676: 4, 677: 1, 678: 6, 679: 7, 680: 8, 681: 3, 682: 2, 683: 1, 684: 9, 685: 5, 686: 7, 687: 3, 688: 8, 689: 1, 690: 6, 691: 1, 692: 4, 693: 9, 694: 2, 695: 5, 696: 8, 697: 1, 698: 2, 699: 3, 700: 7, 701: 1, 702: 9, 703: 1, 704: 8, 705: 5, 706: 2, 707: 7, 708: 6, 709: 1, 710: 5, 711: 9, 712: 8, 713: 1, 714: 7, 715: 5, 716: 4, 717: 3, 718: 2, 719: 1, 720: 9, 721: 7, 722: 2, 723: 3, 724: 4, 725: 5, 726: 6, 727: 1, 728: 8, 729: 9, 730: 5, 731: 1, 732: 6, 733: 1, 734: 2, 735: 7, 736: 8, 737: 1, 738: 9, 739: 1, 740: 5, 741: 3, 742: 7, 743: 1, 744: 8, 745: 5, 746: 2, 747: 9, 748: 4, 749: 7, 750: 6, 751: 1, 752: 8, 753: 3, 754: 2, 755: 5, 756: 9, 757: 1, 758: 2, 759: 3, 760: 8, 761: 1, 762: 6, 763: 7, 764: 4, 765: 9, 766: 2, 767: 1, 768: 8, 769: 1, 770: 7, 771: 3, 772: 4, 773: 1, 774: 9, 775: 5, 776: 8, 777: 7, 778: 2, 779: 1, 780: 6, 781: 1, 782: 2, 783: 9, 784: 8, 785: 5, 786: 6, 787: 1, 788: 4, 789: 3, 790: 5, 791: 7, 792: 9, 793: 1, 794: 2, 795: 5, 796: 4, 797: 1, 798: 7, 799: 1, 800: 8, 801: 9, 802: 2, 803: 1, 804: 6, 805: 7, 806: 2, 807: 3, 808: 8, 809: 1, 810: 9, 811: 1, 812: 7, 813: 3, 814: 2, 815: 5, 816: 8, 817: 1, 818: 2, 819: 9, 820: 5, 821: 1, 822: 6, 823: 1, 824: 8, 825: 5, 826: 7, 827: 1, 828: 9, 829: 1, 830: 5, 831: 3, 832: 8, 833: 7, 834: 6, 835: 5, 836: 4, 837: 9, 838: 2, 839: 1, 840: 8, 841: 1, 842: 2, 843: 3, 844: 4, 845: 5, 846: 9, 847: 7, 848: 8, 849: 3, 850: 5, 851: 1, 852: 6, 853: 1, 854: 7, 855: 9, 856: 8, 857: 1, 858: 6, 859: 1, 860: 5, 861: 7, 862: 2, 863: 1, 864: 9, 865: 5, 866: 2, 867: 3, 868: 7, 869: 1, 870: 6, 871: 1, 872: 8, 873: 9, 874: 2, 875: 7, 876: 6, 877: 1, 878: 2, 879: 3, 880: 8, 881: 1, 882: 9, 883: 1, 884: 4, 885: 5, 886: 2, 887: 1, 888: 8, 889: 7, 890: 5, 891: 9, 892: 4, 893: 1, 894: 6, 895: 5, 896: 8, 897: 3, 898: 2, 899: 1, 900: 9, 901: 1, 902: 2, 903: 7, 904: 8, 905: 5, 906: 6, 907: 1, 908: 4, 909: 9, 910: 7, 911: 1, 912: 8, 913: 1, 914: 2, 915: 5, 916: 4, 917: 7, 918: 9, 919: 1, 920: 8, 921: 3, 922: 2, 923: 1, 924: 7, 925: 5, 926: 2, 927: 9, 928: 8, 929: 1, 930: 6, 931: 7, 932: 4, 933: 3, 934: 2, 935: 5, 936: 9, 937: 1, 938: 7, 939: 3, 940: 5, 941: 1, 942: 6, 943: 1, 944: 8, 945: 9, 946: 2, 947: 1, 948: 6, 949: 1, 950: 5, 951: 3, 952: 8, 953: 1, 954: 9, 955: 5, 956: 4, 957: 3, 958: 2, 959: 7, 960: 8, 961: 1, 962: 2, 963: 9, 964: 4, 965: 5, 966: 7, 967: 1, 968: 8, 969: 3, 970: 5, 971: 1, 972: 9, 973: 7, 974: 2, 975: 5, 976: 8, 977: 1, 978: 6, 979: 1, 980: 7, 981: 9, 982: 2, 983: 1, 984: 8, 985: 5, 986: 2, 987: 7, 988: 4, 989: 1, 990: 9, 991: 1, 992: 8, 993: 3, 994: 7, 995: 5, 996: 6, 997: 1, 998: 2, 999: 9, 1000: 8}

In [ ]:
result=[i**2  for i in range (1,10)]        #lab question
print("result is",result,end='\n')

result is [1, 4, 9, 16, 25, 36, 49, 64, 81]

**assignment12**

In [ ]:
# python program to remove empty tuples from the list
tuples=[(),('ram','15','8'),(),('laxman','sita'),('krishna','akbar','45'),('',''),()]
tuples2=[(",",'8'),(),('0','00','000'),('birbal',",'45'),("),(),('',''),()]
filtered_tuple=[t for t in tuples if t !=()]
filtered_tuples2=[t for t in tuples2 if t !=()] # use of list comprehension
print("result is ",('\n'),filtered_tuple,('\n'),filtered_tuples2)

result is
 [('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]
 [(',', '8'), ('0', '00', '000'), ('birbal', ",'45'),("), ('', '')]

In [ ]:
# python program to duplicates from a list of integers from a given input
input_list=[10,20,30,20,20,30,40,50,-20,60,60,-20,-20]
s=set()     # set  is used to store the elements
duplicates=[]  # used to store duplicates
for num in input_list:
    if num in s:
        duplicates.append(num)
    else:
        s.add(num)
print("resulted duplicate elements are  :",duplicates)

resulted duplicate elements are  : [20, 20, 30, 60, -20, -20]

In [ ]:
# python program to duplicates from a list of integers from a given input    : in list comprehension way
input_list=[10,20,30,20,20,30,40,50,-20,60,60,-20,-20]
duplicate=[num for num in input_list if input_list.count(num)>1]
duplicate=list(set(duplicate))
print(" duplicate elements are:",duplicate)

 duplicate elements are: [20, -20, 30, 60]

In [ ]:
# program to generate random password
import random
import string                      # lab questions
password_length=10
characters=string.digits
password=''                      #lab question
while len(password)<(password_length):
  password+=random.choice(characters)
print(" result is",password)

 result is 3590992892

*assignment 13*

In [ ]:
# python program to convert a list of tuples into dictionary
tuples=[("akash",10)]
dictionary={}
for item in tuples:
    key,value=item
    dictionary[key]=[value]
print("the resulted dictionary is:",dictionary)

the resulted dictionary is: {'akash': [10]}

In [ ]:
# python program to remove all the duplicate words in a sentence
input="python is great and java is also great"
words=input.split()
print(words)
output=[]
for word in words:
    if(input.count(word)>=1 and ( word not in output)):
        output.append(word)
print("the new sentence is :",output)

['python', 'is', 'great', 'and', 'java', 'is', 'also', 'great']
the new sentence is : ['python', 'is', 'great', 'and', 'java', 'also']

In [ ]:
t=("hello@python.org")
w=t.split('@')
print(w)

['hello', 'python.org']

In [ ]:
# wap to create dictionary and check the key is present or not handle the case if it is not present
try:
      dictionary={'dhoni':'7','virat':'18','gayle':'333'}
      print("value is",dictionary)
      key=input("enter a key:")
      if key in dictionary:
        print("the value for '{}'is{}".format(key,dict[key]))
except:                                                                     # lab question
     print("value is not found",format(key))
else:
   print("the value for '{}'is{}".format(key,dict[key]))
finally:
  print("out of the program")

value is {'dhoni': '7', 'virat': '18', 'gayle': '333'}
value is not found akash
out of the program

**assignment 14**

In [ ]:
#  wap that  is roll a dice 500 times and print the number of times  1to 6 has appeared
import random
count=[0,0,0,0,0,0]
for i in range(500):
      roll=random.randint(1,6)
      count[roll-1]+=1
for  number in range(6):
    print(f"number {number+1} appeared {count[number]} times")
    total=sum(count)
print(f" total is  {total}")

number 1 appeared 91 times
number 2 appeared 79 times
number 3 appeared 85 times
number 4 appeared 70 times
number 5 appeared 99 times
number 6 appeared 76 times
 total is  500

In [ ]:
# wap to generate a matrix and print all the even numbers in it
import random
rows=int(input("Enter the number of rows:"))
columns=int(input("Enter the number of coluumns:"))
matrix=[]
for i in range(0,rows):
    row=[]
    for j in range(0,columns):
        row.append(random.randint(0,100))
    matrix.append(row)
for i in range(0,rows):
    for j in range(0,columns):
        print(f"{matrix[i][j]}",end='\t')
    print("\n")
even=[matrix[i][j] for i in range(0,rows) for j in range(0,columns) if matrix[i][j]%2==0 ]
print(f"All the even numbers in the matrix are:{even}")

Enter the number of rows:3
Enter the number of coluumns:2
84	14

98	16

35	70

All the even numbers in the matrix are:[84, 14, 98, 16, 70]

In [ ]:
# solve all the python program using random.choice
# generate  a alphabetical character
# generate a random alphabetical string of arbitary length
# generate a random alphabetical string of fixed length
#program to random alphabetical character and string
import random
alpha="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz"
random_character=random.choice(alpha)
print("The random alphabetical character is",random_character)
length=random.randint(1,50)
string_arbitrary=''
for i in range(0,length):
    string_arbitrary+=random.choice(alpha)
print("The random string with arbitrary length is",string_arbitrary)
len=10
string_fixed=''
for i in range(0,len):
    string_fixed+=random.choice(alpha)
print("The random string with fixed length is",string_fixed)

The random alphabetical character is B
The random string with arbitrary length is XXAyXoLgzKPvuDesYYzikZucGnRgkSonkwK
The random string with fixed length is MUQvGdgKeu

**assignment 15**

In [ ]:
# find all the word which contain "UU" in the file
my_file = open('sowpods.txt','r')    # read mode is used

my_words = my_file.readlines()    #readlines is used to read all the line and store it in my_words

my_words_clean = [i.strip() for i in my_words]  #it creates a new list remove all the unwanted spaces ,newline,character

my_file.close()   # close is used to close the file

for word in my_words_clean:
     if "UU" in word:
         print( "words contain UU are:",word)

In [ ]:
#print all the alphabet that never appear  double in the sequence in the words in the file
my_file_obj = open(r'sowpods.txt')    # read mode is used

my_words = my_file_obj.readlines()            #readlines is used to read all the line and store it in my_words

my_words_clean= [i.strip() for i in my_words]     #it creates a new list remove all the unwanted spaces ,newline,character
my_file_obj.close()

import string

for i in string.ascii_uppercase:
    flag=0
    for word in my_words_clean:
        if i*2 in word:
            flag=1
            break
    if (flag==0):
        print("the alphabets are:",i)

In [ ]:
# print the words which contain all the vowels in the file
my_file = open(r"sowpods.txt")       # read mode is used

my_words = my_file.readlines()        #readlines is used to read all the line and store it in my_words

my_words_clean = [i.strip() for i in my_words]     #it creates a new list remove all the unwanted spaces ,newline,character

my_file.close()

import string


for word in my_words_clean:
    all_vowels = True
    for vow in "AEIOU":
        if vow not in word:
            all_vowels = False
            break
    if(all_vowels):
        print(" words contain vowel are:",word)

In [ ]:
#print all the palindrome word in the file
my_file= open(r"sowpods.txt")      # read mode is used

my_words = my_file.readlines()      #readlines is used to read all the line and store it in my_words

my_words_clean= [i.strip() for i in my_words]     #it creates a new list remove all the unwanted spaces ,newline,character

my_file.close()
def is_palindrome (word):
     if word == word[::-1]:
         return True
     else:
         return False

for word in my_words_clean:
    if (is_palindrome (word)):
        print(word)

**assignment 16**

In [ ]:
# print the longest  palindrome in sowpods.txt
#print all the palindrome word in the file
my_file= open(r"sowpods.txt")      # read mode is used

my_words = my_file.readlines()      #readlines is used to read all the line and store it in my_words

my_words_clean= [i.strip() for i in my_words]     #it creates a new list remove all the unwanted spaces ,newline,character

my_file.close()
def is_palindrome (word):
     return word==word[::-1]
largest_palindrome=""
for word in my_words_clean:
    if is_palindrome(word) and len(word)>len(largest_palindrome):
      largest_palindrome=word
print("largest palindrome in sowpods.txt is:",largest_palindrome)

largest palindrome in sowpods.txt is: ROTAVATOR

In [ ]:
#print all the words that are in the sonnet_words.txt but not in sowpods.txt
my_fille_sowpods=open(r"sowpods.txt")
my_file_sonnet=open("sonnet_words.txt",'r')
sowpods_words=my_fille_sowpods.readlines()
sonnet_words=my_file_sonnet.readlines()
sowpods_words_list=[word.strip()for word in sowpods_words]
sonnet_words_list=[word.strip()for word in sonnet_words]
my_fille_sowpods.close()
my_file_sonnet.close()
for sonnet_words in sonnet_words_list:
  if sonnet_words not in sowpods_words_list:
    print(sonnet_words)

In [ ]:
#name and handle thr exception occured in the program
a=3
try:
     if a<4:
      a= a/(a-3)
     print("try block is printing",a)    # try block wiil  be printed
except ZeroDivisionError as e:                      # exception block will be printed
     print("Exception:",e)
else:
   print(a)

finally:
  print(" the result exception  block will be printed")  # finally block will be printed

In [ ]:
#name and handle thr exception occured in the program
l=[1,2,3]
try:
  print([l[3]])                          # try block wiil  be printed
except IndexError as e:
  print("index error occured:",e)        # index error occuredd because l have 3 elements(0,1,2)
else:
  print(l[3])
finally:  print("the result exception block will be printed")

index error occured: list index out of range
the result exception block will be printed

**skill lab assignment1**

In [ ]:
print(" hello world!")

 hello world!

In [ ]:

print(" my name is srikant \n my age is 21 \n my brsanch is cse \n my college name is silicon institute of technology \n my address is bhubaneswar")

 my name is srikant
 my age is 21
 my brsanch is cse
 my college name is silicon institute of technology
 my address is bhubaneswar

In [ ]:
a=5 ;
b= 4;
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

9
1
20
1.25
1

In [ ]:
f=int(input("enter  degree in f"))
c=(f-32)*(5/9);
print(" degree in celcius is ",c)

enter  degree in f40
 degree in celcius is  4.444444444444445

In [ ]:
# area and perimeter of a circle

a= int(input("enter 1st side of trangle"))
b=int(input("enter 2nd side of trangle"))
h=int(input("enter 3rd side of trangle"))
r=int(input("enter radious value"))
print("area of circle is",3.14*r*r)
print("perimeter of circle is",2*3.14*r)
print( " area of  is",0.5*b*h )
print("perimeter of circle is ",(a+b+h)/2)

enter 1st side of trangle4
enter 2nd side of trangle5
enter 3rd side of trangle7
enter radious value10
area of circle is 314.0
perimeter of circle is 62.800000000000004
 area of  is 17.5
perimeter of circle is  8.0

**assignment2**

In [ ]:
a=[1,2,34,5,6]
print(a)

[1, 2, 34, 5, 6]

In [ ]:
a=input("enter  the values:")
print(a)

enter  the values:[1,2,3,4,5]
[1,2,3,4,5]

In [ ]:
a=[12,3,3]
b=[2,3,4]
c=a+b
print(c)

[12, 3, 3, 2, 3, 4]

In [ ]:
a=input("enter value of a:")
b=input("enter value of b:")
c=a+b
print("addiotion is :",c)

enter value of a:[1,3,4,]
enter value of b:[2,5,6]
addiotion is : [1,3,4,][2,5,6]

In [ ]:
a={1:"india",2:"china",3:"usa"}
print(a)

{1: 'india', 2: 'china', 3: 'usa'}

In [ ]:
a={1,4,5,7}
print(a)

{1, 4, 5, 7}

In [ ]:
A={1,2,3,8,9}
B={3,5,6,7,8,9}
print("Union :", A | B)

print("Intersection :", A & B)

print("Difference :", A - B)

Union : {1, 2, 3, 5, 6, 7, 8, 9}
Intersection : {8, 9, 3}
Difference : {1, 2}

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
b=a.copy()
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
A={1,22,33,4,5,77}
B=22
c=B in A
print(c)

True

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
element_to_find = 3
found = False

for element in my_tuple:
    if element == element_to_find:
        found = True
        break
print(found)

True

In [ ]:
name=input("enter your name:")
print("your name is",name)

enter your name:srikant
your name is srikant

In [ ]:
a="hello world"
b="llo"
c=b in a
print(c)

True

In [ ]:
a={1,2,3,4,5,6}
b={7,8,9,5,6,1}
print("a union b is:",a|b)
print("a intersection b is",a&b)
print("a difference b is ",a-b)

a union b is: {1, 2, 3, 4, 5, 6, 7, 8, 9}
a intersection b is {1, 5, 6}
a difference b is  {2, 3, 4}

In [ ]:
a="hello"
b="HELLO"
a=b.lower()
b=a.upper()
print(b)
print(a)

HELLO
hello

**Assignment-3**

In [ ]:
# wap to check whether a user input string is palindrome or not
str1=input("enter a string:")
len=len(str1)
str2=str1[len::-1]
if(str1==str2):
    print(str1,": the string is a palindrome")
else:
  print(str1,": the string is not a palindrome")

enter a string:try
try : the string is not a palindrome

In [ ]:

input_string = input("Enter a string: ")

char_count = {}

for char in input_string:

    char_count[char] = char_count.get(char, 0) + 1

print("Duplicate characters in the string:")
for char, count in char_count.items():
    if count > 1:
        print(f"'{char}' occurs {count} times")

Enter a string: i am a boy
Duplicate characters in the string:
' ' occurs 3 times
'a' occurs 2 times

In [ ]:

rows = int(input("Enter the number of rows: "))
columns = int(input("Enter the number of columns: "))
matrix = []
print("Enter the matrix elements row by row:")
for _ in range(rows):
    row = [int(x) for x in input().split()]
    matrix.append(row)
print("\nOriginal matrix:")
for row in matrix:
    print(*row)
transposed_matrix = []
for j in range(columns):
    transposed_row = [matrix[i][j] for i in range(rows)]
    transposed_matrix.append(transposed_row)
print("\nTransposed matrix:")
for row in transposed_matrix:
    print(*row)

In [ ]:

input_string = input("Enter a string: ")
punctuation_marks = {'.', ',', '!', '?', ';', ':', '"', "'", '(', ')', '[', ']', '{', '}', '-'}
cleaned_string = ""
for char in input_string:
    if char not in punctuation_marks:
        cleaned_string += char
print("String after removing punctuation:")
print(cleaned_string)

Enter a string: s#*&^5hfqsj
String after removing punctuation:
s#*&^5hfqsj

In [ ]:
#
my_set = {1, 2, 3, 4}
another_set = set([3, 4, 5, 6])
print("First set:", my_set)
print("Second set:", another_set)

First set: {1, 2, 3, 4}
Second set: {3, 4, 5, 6}

In [ ]:

for element in my_set:
    print(element)

1
2
3
4

In [ ]:

my_set = {1, 2, 3}
my_set.add(4)
my_set.add(5)
print("Updated set after adding members:", my_set)

In [ ]:

my_set = {1, 2, 3, 4}
my_set.remove(2)
print("Updated set after removing item:", my_set)

In [ ]:
# Create a set
my_set = {1, 2, 3, 4}
item_to_remove = 3
if item_to_remove in my_set:
    my_set.remove(item_to_remove)
print("Updated set after conditional removal:", my_set)

In [ ]:

set_a = {1, 2, 3}
set_b = {3, 4, 5}
intersection = {x for x in set_a if x in set_b}
print("Intersection of sets:", intersection)

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1 - set2
print(difference_set)

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
symmetric_difference_set = set1 ^ set2
print(symmetric_difference_set)

In [ ]:
set_a = {1, 2}
set_b = {1, 2, 3}
is_subset = True
for element in set_a:
    if element not in set_b:
        is_subset = False
        break
print(is_subset)

In [ ]:
# Define two matrices (you can modify these as needed)
matrix1 = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

matrix2 = [
    [9, 8, 7],
    [6, 5, 4],
    [3, 2, 1]
]
result_matrix = []
for i in range(len(matrix1)):
    result_row = []
    for j in range(len(matrix1[0])):
        result_row.append(matrix1[i][j] + matrix2[i][j])
    result_matrix.append(result_row)

for row in result_matrix:
    print(row)

In [ ]:
a=int(input("enter a value"))
b= int (a**(1/2))
print(  b)

enter a value9
3

In [ ]:
a=int(input("enter a number"))
if a%2==0:
  print("a is even")
else:
 print("a is odd")

enter a number12
a is even

Assignment4

In [ ]:
l1=[2,3,4,5,6]
tuple(l1)
print(l1)

[2, 3, 4, 5, 6]

In [ ]:
s=('hello')
t=('srikant')
zip(s,t)

In [ ]:
d1=dict({1:'red',2:'green',3:'yellow'})
d2=dict([(1,'red'),(2,'green'),(3,'yellow')])
d3=dict(one=1,two=2,three=3)
print (d3)

{'one': 1, 'two': 2, 'three': 3}

**ASSIGNMENT 5**

In [ ]:
def math(a, b):
    addition = a + b
    subtraction = a - b
    multiplication = a * b
    division = a / b
    return addition, subtraction, multiplication, division

a = float(input("Enter a value: "))  # Convert input to float for division
b = float(input("Enter b value: "))
result_add, result_sub, result_mul, result_div = math(a, b)

print("Addition:", result_add)
print("Subtraction:", result_sub)
print("Multiplication:", result_mul)
print("Division:", result_div)

In [ ]:
# Convert an integer to a string
integer_number = 42
integer_as_string = str(integer_number)
print("Integer as string:", integer_as_string)

float_number = 3.14
integer_from_float = int(float_number)
print("Integer from float:", integer_from_float)

Integer as string: 42
Integer from float: 3

In [ ]:
import calendar
print(calendar.month(2020, 9))

   September 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [ ]:
def student_fee(name, fee=25000):
    print(f"The fee for {name} is: {fee}")
student_fee("Alice")
student_fee("Bob", 30000)

The fee for Alice is: 25000
The fee for Bob is: 30000

In [ ]:
def add_numbers(num1, num2):
    return num1 + num2
result = add_numbers(5, 3)
print("Sum:", result)

Sum: 8

In [ ]:
def swap_values(a, b):
    temp = a
    a = b
    b = temp
    return a, b

x = 10
y = 20
x, y = swap_values(x, y)
print("After swapping:")
print("x =", x)
print("y =", y)

After swapping:
x = 20
y = 10

In [ ]:
def threelines():
    print("\n" * 3)

def ninelines():
    threelines()
    threelines()
    threelines()
for _ in range(3):
    ninelines()

In [ ]:
def get_ascii_value(char):
    return ord(char)

user_char = input("Enter a character: ")
print(f"ASCII value of '{user_char}' is {get_ascii_value(user_char)}")

Enter a character: t
ASCII value of 't' is 116

In [ ]:
def count_vowel_words(sentence):
    vowels = "AEIOUaeiou"
    word_list = sentence.split()
    vowel_words = [word for word in word_list if word[0] in vowels]

    print(f"Vowel words in the sentence:")
    for word in vowel_words:
        print(word)

    return len(vowel_words)

user_sentence = input("Enter a sentence: ")
num_vowel_words = count_vowel_words(user_sentence)
print(f"Total vowel words: {num_vowel_words}")

Enter a sentence: i am a boy
Vowel words in the sentence:
i
am
a
Total vowel words: 3

In [ ]:
def fibonacci_recursive(n):
    if n <= 1:
        return n
    else:
        return fibonacci_recursive(n-1) + fibonacci_recursive(n-2)
num_terms = int(input("Enter the number of terms for Fibonacci sequence: "))
print("Fibonacci sequence:")
for i in range(num_terms):
    print(fibonacci_recursive(i), end=" ")

Enter the number of terms for Fibonacci sequence: 5
Fibonacci sequence:
0 1 1 2 3

In [ ]:
def convert_to_bases(decimal_number):
    binary = bin(decimal_number).replace("0b", "")
    octal = oct(decimal_number).replace("0o", "")
    hexadecimal = hex(decimal_number).replace("0x", "").upper()
    return binary, octal, hexadecimal

# Example usage:
user_decimal = int(input("Enter a decimal number: "))
binary_result, octal_result, hex_result = convert_to_bases(user_decimal)
print(f"Binary: {binary_result}")
print(f"Octal: {octal_result}")
print(f"Hexadecimal: {hex_result}")

Enter a decimal number: 7
Binary: 111
Octal: 7
Hexadecimal: 7